In [2]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
    "id": ids,
    "age": ages,
    "salary": salaries,
    "dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")
print(DF)

Sample Data Created and Saved as employees.csv
   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   89735  Finance
7   8   40   86101       IT
8   9   28   32433    Sales
9  10   28   35311       HR

In [2]:
modied_DF = DF.loc[DF['dept'].str.contains('Fi')] 
print(modied_DF)

   id  age  salary     dept
2   3   32   46023  Finance
6   7   36   89735  Finance

Addign coloum

In [ ]:
DF["Country"] = ["USA", "Canada", "USA", "UK", "Canada", "USA", "UK", "Canada", "USA", "UK"]
print(DF)

   id  age  salary     dept Country
0   1   56   77191       HR     USA
1   2   46   74131       IT  Canada
2   3   32   46023  Finance     USA
3   4   25   71090       IT      UK
4   5   38   31685       HR  Canada
5   6   56   30769    Sales     USA
6   7   36   89735  Finance      UK
7   8   40   86101       IT  Canada
8   9   28   32433    Sales     USA
9  10   28   35311       HR      UK

Condition Using Nmpy

In [5]:
import numpy as np
DF["Salary"] = np.where(DF["salary"] > 60000, 'Good','Bad')
print(DF)
DF.to_csv("employees_modified.csv")

   id  age  salary     dept Country Salary
0   1   56   77191       HR     USA   Good
1   2   46   74131       IT  Canada   Good
2   3   32   46023  Finance     USA    Bad
3   4   25   71090       IT      UK   Good
4   5   38   31685       HR  Canada    Bad
5   6   56   30769    Sales     USA    Bad
6   7   36   89735  Finance      UK   Good
7   8   40   86101       IT  Canada   Good
8   9   28   32433    Sales     USA    Bad
9  10   28   35311       HR      UK    Bad

Scale the value

In [6]:
##Scale the value of salary column between 0 and 1

mn = DF['salary'].min()
mx = DF['salary'].max()
DF['Scaled_Salary'] = (DF['salary'].apply(lambda x: (x - mn) / (mx - mn)))
print(DF)

   id  age  salary     dept  Scaled_Salary
0   1   56   77191       HR       0.787267
1   2   46   74131       IT       0.735373
2   3   32   46023  Finance       0.258691
3   4   25   71090       IT       0.683801
4   5   38   31685       HR       0.015534
5   6   56   30769    Sales       0.000000
6   7   36   89735  Finance       1.000000
7   8   40   86101       IT       0.938371
8   9   28   32433    Sales       0.028220
9  10   28   35311       HR       0.077027